// .fade-enter-active, .fade-leave-active {
//   transition: opacity .3s
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
//   opacity: 0
// }


.fadeScale-enter-active, .fadeScale-leave-active {
  transition: opacity .3s, transform .3s;
}
.fadeScale-enter, .fadeScale-leave-to /* .fade-leave-active in <2.1.8 */ {
	opacity: 0;
	transform: scale(1.1);
}

.slideUp-enter-active, .slideUp-leave-active {
  transition: opacity .3s, transform .3s;
}
.slideUp-enter, .slideUp-leave-to /* .fade-leave-active in <2.1.8 */ {
	opacity: 0;
	transform: translateY(5px)
}

.slideDown-enter-active, .slideDown-leave-active {
  transition: opacity .3s, transform .3s;
}
.slidDown-enter, .slideDown-leave-to /* .fade-leave-active in <2.1.8 */ {
	opacity: 0;
	transform: translateY(-50px)
}
