.hover\:border {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 100%;
    width: 0;
    left: 50%;

    border-bottom: 1px solid white;

    transform: translateX(-50%);
    transition: width 0.25s;
  }

  &:not(.border):hover {
    &::after {
      width: 120px;
    }
  }
}

.link {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-12px);
    opacity: .2;
    border-bottom: 3px solid #4c33fb;
    transition: transform .25s,opacity .25s;
  }

  &:hover {
    &::after {
      transform: translateY(0);
      opacity: 1;
    }
  }
}