.fadeScale {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(1.1);
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }
}

.slideUp {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(5px)
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }
}

.slideDown {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-50px)
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }
}

.transition-width-250 {
  transition: 250ms width;
}