html{
    font-size: 18px;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background: #fff !important;
}

@mixin shadow($opacity : .3){
	box-shadow: 0 8px 45px rgba(#000, $opacity);
}

#page{
	min-height: 100vh;
	background: $body-bg;
	
	transition: transform .3s, opacity .3s;

	#page-container{
		display: flex;
		flex-direction: row;
		padding-bottom: 45px;
	}

	&.menu--active{
		transform: scale(.95);
		opacity: .5;
	}

	#sidebar{
		width: 280px;
		background: $body-bg;
		color: #fff;
		padding: 45px 0 0 45px;
		display: flex;
		flex-direction:column;

		.sticky{
			display: flex;
			flex-direction:column;
			justify-content: space-between;
			max-height: calc(100vh - 90px);
			flex:1;
		}

		#header{
			margin-bottom: 100px;
		}

		#footer{
			transition: .25s transform;
			a{
				color: inherit;
				&:hover, &:focus{
					text-decoration: none;
				}
			}
		}
	}

	#content{
		position: relative;
		background: $content-bg;
		flex: 1;
		padding: 45px;
		overflow: hidden;
		// display: flex;

		&:before{
			content:"";
			position: absolute;
			top:0;
			left:0;
			height: 100%;
			background: $body-bg;
			width: 185px;
			transition: .3s transform;
			transform: translateX(-100%)
		}
	}

	&.with-columns{
		#content{
			&:before{
				transform: translateX(0)
			}
		}
		#sidebar{
			padding-bottom: 45px;
		}
	}

	&.invert{
		#page{
			background: #fff;
			#sidebar{
				background: #fff;
				color: $brand-primary;
			}
			#content{
				background: $brand-primary;
				color: #fff;
			}
		}

		.burger{
			&:before, &:after, div{
				border-color: #fff;
			}
		}
	}

	.col-primary{
		> * {
			margin-bottom: 45px;
			@include shadow();
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

@include media-breakpoint-up('xl'){
	.col-primary{
		width: 520px;
		flex-basis: auto;
		flex-grow:0;
		& + .col{
			padding-left: 45px;
		}
	}
}

@include media-breakpoint-down('xl'){
	#header{
		background: #fff;
		color: #fff;
		.header-content{
			display: block;
			margin-right: 90px;
			padding: 15px 90px 15px 15px;
			background: $brand-primary;
		}
	}

	#page #content:before{
		display: none;
	}
}

@include media-breakpoint-down('xs'){
	#page #content{
		padding: 35px 20px 15px;
	}
}

.content__404{
	padding-top: 250px;
	padding-bottom: 250px;
	text-align: center;
	.title{
		font-size: 72px;
	}
	.btn{
		padding-left: 50px;
		padding-right: 50px;
	}
}
